.work {
  padding-left: 20px;
}
.title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 36px;
}
.item {
  margin-bottom: 15px;
}
p {
  font-weight: 600;
  margin-bottom: 3px;
}
span {
  font-weight: 400;
  color: #263036;
}
